<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form  action="/board/write" method="post" th:object="${boardDto}">
    제목 : <input type="text" th:field="*{title}"> <br>
    <p th:if="${#fields.hasErrors('title')}"
       th:errors="*{title}">Incorrect date</p>
    작성자 : <input type="text" th:field="*{writer}"> <br>
    <p th:if="${#fields.hasErrors('writer')}"
       th:errors="*{writer}">Incorrect date</p>
    <textarea  th:field="*{content}"></textarea><br>

    <input type="submit" value="등록">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
</form>
</body>
</html>